@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css");
@import url("https://kit.fontawesome.com/47892748f1.js");
@import "./abstracts/variables.scss";
@import "./base/base.scss";
@import "./base/animation.scss";
@import "./base/typography.scss";
@import "./base/utility.scss";

@import "./layouts/grid.scss";
@import "./layouts/header.scss";
@import "./component/btn.scss";
@import "./component/comosition.scss";


@import "./pages/home.scss";


