@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    75% {
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
