*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    @media all and (max-width: 600px) {
        font-size: 10px; 
        .logo-box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 75px;
    }
}
}


body {
    font-weight: 400;
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    color: $color-grey-dark;
    font-size: 1rem;
    padding: 1.875rem;
}

body {
    display: block;
    margin: 8px;
}
.text-center {
    text-align: center;
}
.upper {
    text-transform: uppercase;
}


