
$color-pri:#55c57a;
$color-pri-light:#7ed56f;
$color-pri-dark:#28b485;


$color-sec:#ffb900;
$color-sec-dark:#ff7730;
$color-ter:#2998ff;
$color-grey-dark:#777;
$color-grey-dark1:#333;
$color-grey-light:#f7f7f7;
$color-grey-light1:#eee;
$color-white:#fff;
$color-dark:#000;