@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css");
@import url("https://kit.fontawesome.com/47892748f1.js");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media all and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  html .logo-box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 75px;
  }
}

body {
  font-weight: 400;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  color: #777;
  font-size: 1rem;
  padding: 1.875rem;
}

body {
  display: block;
  margin: 8px;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  75% {
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.heading-pri:is(:hover, :focus, :active) {
  transform: scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.heading-pri {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56a, rgba(40, 180, 133, 0.8));
  background-clip: text;
  color: transparent;
  padding: 10px;
  margin-bottom: 40px;
  transition: all 0.4s ease-in-out;
}

a:link, a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^=col-] {
  padding: 15px;
}

.col-6 {
  width: 50%;
  flex: 0 0 50%;
}

.col-4 {
  width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
}

.col-12 {
  width: 100%;
  flex: 0 0 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 106, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  height: 90vh;
  z-index: 1;
}
.header .logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  width: 75px;
  color: white;
}
.header .logo-box .logo {
  display: inline-block;
}
.header .logo-box img {
  width: 100%;
}
.header .logo-box-primary {
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 5px;
  animation: moveinleft 1.5s ease-in-out;
  color: #fff;
}
.header .logo-box-secondary {
  font-size: 15px;
  letter-spacing: 30px;
  animation: moveinright 1.5s ease-in-out;
  color: #fff;
  margin-bottom: 20px;
}
.header .logo-box h1 .logo-box {
  padding: 0;
  margin: 0;
}

.btn1, .btn1:link, .btn1:visited {
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  position: relative;
  background-color: #fff;
  color: #777;
}
.btn1-text, .btn1-text:link, .btn1-text:visited {
  font-size: 16px;
  color: #777;
  text-transform: capitalize;
  display: inline-block;
  border-bottom: 1px solid #777;
  padding: 3px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.2s;
}
.btn1-text:hover, .btn1-text:focus, .btn1-text:link:hover, .btn1-text:link:focus, .btn1-text:visited:hover, .btn1-text:visited:focus {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn1-text:hover::after, .btn1-text:focus::after, .btn1-text:link:hover::after, .btn1-text:link:focus::after, .btn1-text:visited:hover::after, .btn1-text:visited:focus::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn1-white:hover, .btn1-white:focus {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn1-white:hover::after, .btn1-white:focus::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn1-white:active {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn1-white::after {
  content: "";
  background-color: #55c57a;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  background-color: inherit;
}

/*.composition {
    position: relative;
}*/
.composition-1 {
  left: 0;
  top: -10px;
}

.composition-2 {
  right: 0;
  top: 20px;
}

.composition-3 {
  top: 100px;
  left: 25%;
}

.composition-photo {
  width: 55%;
  border-radius: 2px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: all 0.3s ease-in-out;
  outline-offset: 10px;
}

.composition-photo:hover {
  transform: scale(1.1);
  z-index: 5;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  outline: 15px solid #55c57a;
}

.section-about {
  padding: 200px 0;
  background: #f7f7f7;
  margin-top: -200px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.section-features {
  padding: 200px 0;
  background-color: #7ed56a;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  transform: skewY(-7deg);
  margin-top: -100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-features .feature-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: skewY(7deg);
}
.section-features .feature-box i {
  font-size: 55px;
}

.heading-pri {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56a, rgba(40, 180, 133, 0.8));
  background-clip: text;
  color: transparent;
  padding: 10px;
  margin-bottom: 80px;
  transition: all 0.4s ease-in-out;
}

.heading-secondary {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
}
.paragraph:not(:last-child) {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
