
        .btn1
        {
            &, &:link,  &:visited{
        padding:15px 40px;
        font-size:16px;
        border-radius:100px;
        border:0;
        cursor:pointer;
        display: inline-block;
        transition: all 0.5s ease-in-out;
                    background-color: $color-white;
                                color: $color-grey-dark;
                                
} 
&:hover, &:focus{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba($color-dark,0.4);

}
&:active{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba($color-dark,0.4);
}  
} 

