
        .btn1
        {
            &, &:link,  &:visited{
        padding:15px 40px;
        font-size:16px;
        border-radius:100px;
        border:0;
        cursor:pointer;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        position: relative;
                    background-color: $color-white;
                                color: $color-grey-dark;
                                
} 
&:hover, &:focus{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba($color-dark,0.4);
    &::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

}
&:active{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba($color-dark,0.4);
}  
&::after{
    content: '';
    background-color: $color-white;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-in-out;
    background-color: inherit;
}
} 

