/*.composition {
    position: relative;
}*/

.composition-1 {
    left: 0;
    top: -10px;
}
.composition-2 {
    right: 0;
    top: 20px;
}
.composition-3 {
    top: 100px;
    left: 25%;
}
.composition-photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.3s 
ease-in-out;
    outline-offset: 10px;
}
.composition-photo:hover {
    transform: scale(1.1);
    z-index: 5;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    outline: 15px solid #55c57a;
}