.row{
    display: flex;
    flex-wrap:wrap;
   
}
[class^="col-"]{
    padding: 15px;
}
.col-6{
    width: calc(100% * 6 / 12);
    flex: 0 0 calc(100% * 6 / 12);
}
.col-4{
    width: calc(100% * 4 / 12);
    flex: 0 0 calc(100% * 4 / 12);
}
.col-8{
    width: calc(100% * 8 / 12);
    flex: 0 0 calc(100% * 8 / 12);
}
.col-12{
    width: calc(100% * 12 / 12);
    flex: 0 0 calc(100% * 12 / 12);
}