
.header {

     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 106, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
    background-size: 100% 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    height: 90vh;
    z-index: 1;
   //background-color: #7ed56f;

.logo-box {
    position: absolute;
    top:20px;
    left: 20px;
    display:inline-block;
    width: 75px;
    color: white;
    .logo{
            display:inline-block;

    }

   img{
        width: 100%;
    }
    &-primary{
        font-size: 60px;
    font-weight: 200;
letter-spacing: 5px;
animation: moveinleft 1.5s ease-in-out ;
color: $color-white;
}
    &-secondary{
        font-size: 15px;
        letter-spacing: 30px;
        animation:moveinright 1.5s ease-in-out;
        color: $color-white;
        margin-bottom: 20px;
    }
   h1 .logo-box{ padding:0;
 margin: 0;}

}

}



