.section-about {
  padding: 200px 0;
 background:$color-grey-light;
    // background-color: #f7f7f7;
  margin-top: -200px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
//z-index:-1;
}
.section-features{
  padding: 200px 0;
  background-color: #7ed56a;
  background-image: linear-gradient(to right bottom, rgba($color-pri-light,.8),rgba($color-pri-dark,.8)), url(../images/nat-4.jpg);
   transform: skewY(-7deg);
  margin-top: -100px;
  background-size: cover;
  background-position: center;
 background-repeat: no-repeat;
     

      .feature-box{
       background-color: $color-white;
       padding: 30px;
        border-radius: 2px;
       box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      text-align: center;
       transform: skewY(7deg); 

       i{
      font-size: 55px;
        }
     }
   }
  

  .heading-pri{
  font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7ed56a, rgba(40, 180, 133, 0.8));
    background-clip: text;
    color: transparent;
    padding: 10px;
    margin-bottom: 80px;
    transition: all 0.4s ease-in-out;
  }
  .heading-secondary{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;

  }
  .paragraph{
    font-size: 16px;
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }



